.sidebar {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    background-color: rgb(55 78 211 / 50%);
    width: 30%;
}
.sidebar-header {
    display: block;
    text-align: center;
    font-size: 28px;
    padding: 10px;
    background-color: indigo;
    color: aliceblue;
}
.sidebar-menu li {
    color: whitesmoke;
    text-align: center;
    font-size: 23px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px ;
}
.sidebar-menu li:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}
.sidebar-menu .menu-active {
    color: black;
    background-color: white;
}

.main-content {
    margin-left: 30%;
    width: 70%;
    padding: 10px;
}
.product_list_content {
    display: grid;
    grid-template-columns: 2.5fr 1fr 0.5fr 1fr;
    font-size: 1.5rem;
}

.product_list_items {
    border: 1px solid black;
    text-align: center;
    height: 40px;
    line-height: 40px;
}