#product-header {
    height: 60px;
    background-color: rgb(55 78 211 / 50%);;
}
#product-header a {
    line-height: 60px;
    text-align: center;
    display: block;
    font-size: 28px;
}
#content {
    margin: 100px 30px;

}