/* Slider */
#slider {
    position: relative;
}

.slide-show {
    display: none;
}
.active {
    display: block;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}