* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-color:  rgb(149 157 165 / 20%);
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* css dùng chung */
li {
    list-style: none;
}
.open {
    display: block;
}
a {
    text-decoration: none;
}
.hide {
    display: none !important;
}
.middle-margin {
    margin-left: auto;
    margin-right: auto;
}

.clear {
    clear: both;
}

.full-size-img{
    width: 100%;
    display: block;
}
.medium-size-img{
    width: 80%;
    display: block;
}
.btn {
    margin-top:10px;  
    display: inline-block;
    padding: 10px;
    border: none;
}

.btn:hover {
    cursor: pointer;
    background-color: rgba(194, 182, 182, 0.747);
}

.background-white{
    background-color: white;
    border: none;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
 
.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float:left;
    padding-left: 15px;
    padding-right: 15px;
} 
.two-col {
    width: 50%;
}
.three-col {
    width: 33.333333%;
}
.four-col {
    width: 25%;
}
.five-col {
    width: 20%;
    float: left;
}
.small-size-input {
    width: 100%;
    border: 1px solid #ccc;
}
.medium-size-input {
    width: 100%;
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid #ccc;
}
.right-float {
    display: inline-block;
    float: right;
}

.black-btn {
background-color: black;
color: white;
text-transform: uppercase;
}
.wheat-text {
    color: aliceblue;
}
.wheat-text:hover{
    color: wheat;
    cursor: pointer;
}

.medium-font {
font-size: 18px !important;
font-family:sans-serif;
}
.logo {
    margin-top: -10px; 
    margin-left: 40px;
}

/* End dùng chung */

/* thẻ nav */

.login-bar{
    height: 50px;
    line-height: 50px;
    margin: 10px;

}
.login-bar-success {
    color: black;
    text-align: center;
}

.login-bar-btn {
    margin: 0 5px;
    background-color: #7347c1;
    border-radius: 25px;
}
#header {
    width: 100%;
    height: 50px;
    background-color: rgb(55 78 211 / 50%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.nav {
    display: inline-block;
}
#header li{
    color: aliceblue;
    line-height: 50px;

}

#header .search-bar {
    background-color: white;
    display: inline-block;
    height: 30px;
    padding-right: 8px;
    margin-top: 10px;
    border-radius: 8px;
}
#header .nav-input {
    width: 93%;
    margin-left: 6px;
    padding: 7px;
    outline: none;
    border: none;
}
#header .nav i {
    margin-left: -3px;
    color: black;
    padding: 1px 2px 4px;
}
#header .nav i:hover{
    cursor: pointer;
}
#header .search-btn {
    margin-top: 5px;
    background-color: white;
    border: none;
    float: right;
}

/* menu bar cho mobile */
#menu-mobile {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1000;
}
#menu-mobile.open{
    display: block;
}
#menu-mobile .menu-content {
    background-color: white;
    padding-top: 40px;
}

#menu-mobile .hamburger-list li a {
    color: black;
    display: block;
    padding: 15px;
    border-bottom: 1px solid black;
    text-align: center;
}




#header-2 {
    margin-top: 30px;
    margin-bottom: 10px;
    width: 80%;
    height: 50px;

}
#header-2 .nav {
    display: block;
}
#header-2 li img{
    width:100%;
    display: block;
    background-color: white;
}
#header-2 li img:hover{
    opacity: 0.5;
}


#header-2>nav>li {
    display: inline-block;
}
#header-2>.nav>li:hover>a {
    background-color: #ddd;
}


.category-item {
    float:left;
    width: 20%;
    padding:15px;
}

/* Slider */
#slider {
    position: relative;
}

.slide-show {
    display: none;
}
.active {
    display: block;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
  }


/* Cart */
.fas, .fa-solid {
    font-weight: 900;
    font-size: 20px;
}
.cart {
    display: inline-block;
    position: relative;
    padding: 0 20px;
}
.cart p {
    float: right;
}
.cart:hover {
    cursor: pointer;
}
.cart-position {
    text-align: right;
}
.cart-box {
    position: absolute;
    top: calc(100% + 5px);
    right: 0;
    width: 600px;
    min-height: 100px;
    border-radius: 4px;
    background-color: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    z-index: 100;
    padding: 10px;
    animation: grow-up 0.2s ease-in;
    transform-origin: calc(100% - 160px/2) top;

}

.cart-box-hide {
    display: none;
}

.cart-box::before{
        content: "";
        position: absolute;
        top: -10px;
        right:calc(190px / 2);
        transform: translateX(50%);
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid white;
}
.cart-nofication {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
}
.cart-confirm-btn {
    padding: 10px;
    background-color: rebeccapurple;
    color: antiquewhite;
}




/* Cart-item */
.cart-list{
    max-height: 500px;
    overflow-y: auto;
    overflow-x: auto;
    font-size: 26px;
}

.cart-item {
    margin:20px 0;
    display: flex;
}
.cart-item-img {
    aspect-ratio: 1;
    background-size: contain;
    height: 150px;
}
.cart-item-detail{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1.5fr 0.5fr;
    align-items: center;
    margin-left: 20px;
    width: 100%;
}
.cart-item-info{
    text-align: left;
}
.cart-item-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cart-item-name {
    margin-bottom: 10px;
}
.cart-item-price, .cart-total {
    color: red;
}

/* content */

.content {
    /* background-color: white; */
    width: 80%;
    min-height: 500px;
}


/* Danh sach san pham */
.product-list{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.product-list .item {
    padding: 20px 10px 20px;
    overflow: hidden;
    position: relative;
    /* box-shadow: 3px 3px 5px 0px rgb(0 0 0 / 40%); */
}
.item-option {
    display: none;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, .15);
    backdrop-filter: blur(1.2px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item:hover {
    top: -5px;
    left: -5px;
    box-shadow: none;
}
.item:hover .item-img{
        filter: blur(4px);
}
.item:hover .item-option {
    display: flex;
    z-index: 1;
}
.item-display {
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}
.item-link {
    padding: 8px;
    position: relative;
    display: block;
    cursor: default;
    background-color: white;
    margin-bottom: 20px;
    min-height: 300px;

}
.item-img {
    background-size: cover;
    aspect-ratio: 1;
}

.item-name {
    margin: 20px 0px 10px;
    color: black;
    font-size: 18px;
}
.item-price {
    color: #222;
    display: block;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 5px;
}
.item-btn {
    line-height: 20px;
    background-color: #403635;
    border-radius: 11px;
    padding: 15px;
    font-size: 20px;
    color: beige;
    margin-bottom: 5px;
}
.item-btn:hover{
    cursor: pointer;
}






/* page */
.page {
    margin-top: 30px;
    margin-bottom: 30px;

}
.page-list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}
.page-item {
    padding: 3px 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid;
}
.page-item-active {
    background-color: rgba(12, 11, 11, 0.15);
}



/* form */

.form {
    position: fixed;
    /* display: flex; */
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(8, 8, 8, 0.185);
    display: none;
    align-items: center;
}
.form.open{
    display: flex;
    z-index: 100;
}


.form-container {
    position: relative;
    background-color: floralwhite;
    min-height: 400px;
    width: 600px;
    animation-name:modalFadeIn;
    animation-duration: 1s;
    

}
.close-btn {
    position: absolute;
    right: 0;
    padding: 8px 16px;
    color: #ddd;
}

.close-btn:hover {
    color: rgba(194, 182, 182, 0.747);
    cursor: pointer;
}



.form-header {
    width: 100%;
    letter-spacing: 3px;
    padding: 36px;
    font-size: 36px;
    text-align: center;
    color: aliceblue;
    background-color: #009688;
}
.form-label {
    display: block;
    margin: 15px 0 5px;

}


.form-btn {
    width: 100%;
    margin-top: 15px;
    padding: 15px;
    color: #fff;
    border: none;
    background-color: #e42d20;
    font-weight: bold;
}
.form-btn:hover {
    background-color: rgba(226, 81, 81, 0.932);
    cursor: pointer;
}
.form-body {
    padding: 5px 16px;
}
.error-message {
    color: red;
    font-size: 12px;
}
.form-help {
    padding: 16px;
}
.form-footer {
    margin: 10px 0px 10px;
    padding: 8px 16px;
    display: inline-block;
    background-color: #c7c7be;
    color: #fff;
}


.form-footer:hover {
    cursor: pointer;
    background-color: rgba(12, 11, 11, 0.363);
}

/* Chi tiết sản phẩm */
.detail-container {
    position: relative;
    background-color: floralwhite;
    min-height: 600px;
    width: 1100px;
    animation-name:modalFadeIn;
    animation-duration: 1s;
    
}

.detail-info {
    margin: 20px;
}
.detail-img {
    width: 500px;
    margin: 10px;
}
.detail-name {
    margin-top: 20px;
    font-size: 30px;
}
.detail-price {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #e42d20;
}
.detail-quantity {
    margin-top:10px;
    margin-bottom: 20px;
}


/* Danh sách đơn hàng */
.order-container {
    min-height: unset;
    width: 80%;
}
.order {
    display: grid;
    grid-auto-flow: column;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    height: 70px;
    border-bottom: 1px dashed black;
}
.order-list {
    max-height: 500px;
    overflow-y: auto;
}

.order-detail {
    overflow-y: auto;
    max-height: 150px;
}
.order-item {
    font-size: 14px;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    text-align: center;
    align-items: center;
    padding:5px;
}
.order-item:last-child {
    border-bottom: 1px dashed black;
}



/* form mua hàng */
.buy-form-body {
    display: flex;
    background-color: white;
    border-radius: 4px;
    position: relative;
}
.buy-infor {
    width: 30%;
    padding: 10px;
    border-right: 1px solid cornflowerblue;
}
.buy-detail {
    padding: 10px;
    width: 70%;
    text-align: center;
}
.buy-list {
    max-height: 200px;
    overflow-y: auto;
}
.buy-list h3 {
    text-align: center;
    display: block;
}
.buy-item {
    display: flex;
    padding:20px ;
    border-bottom: 1px dashed cornflowerblue;
}

.buy-item .item-img {
    width: 100px;
}
.buy-item .item-detail {
    display: grid;
    grid-template-columns: 2fr 1fr 1.5fr;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}
.buy-total {
    padding: 10px;
}
/* Footer */
#footer {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: #222;
    color: white;
}

.footer .row {
}
#footer h3{
    margin:10px;
}
#footer p {
    display: inline-block;
    padding: 10px;
    color: #ababab;
    font-style: italic;
}

#footer .footer-logo {
    text-align: center;
}



















/* keyframes */

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
    
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  @keyframes grow-up {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1.0);
    }
}
